@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap
);
:root{
    --yellow:#ffcc0d;
    --black: #000;
    --white: #fff;
    --light-bg: #eee;
    --border-bold:.5rem solid var(var(--black));
    --border-light:.2rem solid var(--black);
}

*{
    font-family: 'Rubik' , sans-serif, Calibri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--black);
}

*::selection
*::-webkit-scrollbar
*::-webkit-scrollbar-track
*::-webkit-scrollbar-thumb